//colors
$text-color: black;
$button-color: #51418E;
$quote-button-color: #9013FE;
$quote-button-hover: #7b2f6f;
$blue-purple: #6d13fe;
$muted-button-color: #8176BD;
$footer-color: #4E409C;
$hover-color: $muted-button-color;
$menu-item-color: white;
$header-height: 60px;

//fonts
$text-font: Helvetica, sans-serif;
$headline-font: 'Anton', Helvetica, sans-serif;
$heading-font-size: 3rem;
$para-font-size:1.8rem;
$hero-para-font-size: 2rem;
$hero-h1: 10rem;
$h2: 6rem;
$card-h3: 5rem;
$h1-text-shadow: -2px 2px 0px rgba(0, 0, 0, 0.3), -2px 4px 2px rgba(0, 0, 0, 0.1);
$para-text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);

//sizes
$content-width: 960px;
$header-height:60px;
$footer-height:90px;
$margin-top: 50px;
$def-margin: 10px;
$def-padding: 10px;

//home cards
@mixin card-shadow {
    -webkit-box-shadow: 0px 2px 6px 0px rgba(112,108,112,1);
    -moz-box-shadow: 0px 2px 6px 0px rgba(112,108,112,1);
    box-shadow: 0px 2px 6px 0px rgba(112,108,112,1);
}

@mixin soft-shadow {
    -webkit-box-shadow: 0 2px 6px 0 rgba(0,0,0,0.17);
    -moz-box-shadow: 0 2px 6px 0 rgba(0,0,0,0.17);
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.17);
}

@mixin btn-shadow {
    -webkit-box-shadow: 0px 1px 4px 0px rgba(112,108,112,1);
-moz-box-shadow: 0px 1px 4px 0px rgba(112,108,112,1);
box-shadow: 0px 1px 4px 0px rgba(112,108,112,1);
}

@mixin margin-padding($margin, $padding) {
    margin: $margin;
    padding: $padding;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, .navbar, .brand {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: $headline-font;
  font-size: $heading-font-size;
  font-weight: 400;
  margin: 30px 0 15px;
}

p, button {
    font-family: $text-font;
    font-size: $para-font-size;
}

.btn-primary {
    padding: 6px 12px;
    margin: 5px;
    color: white;
    background-color: $button-color;
    border: none;
    @include btn-shadow;
}
.btn-primary:hover {
    background-color: $quote-button-color;
}

a:hover, a:focus {
  text-decoration: none;
}

//navbar
.navbar {
  border: 0;
  font-size: 16px;
  padding:0;
  margin:0;
  position: absolute;
}
.navbar .navbar-brand {
  font-weight: 600;
  margin: 5px 0px;
  padding: 20px 15px;
  font-size: $para-font-size;
  font-family: $text-font;
  color: $text-color;
  letter-spacing: 0;
}
.navbar-default .navbar-nav>li>a {
    color: $text-color;
}

nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color:$muted-button-color;
    background-color: transparent;
}
.navbar .navbar-nav > li > a {
  padding: 10px 15px;
  margin: 15px 3px;
}

.navbar-default {
    text-transform: uppercase;
    color: $text-color;
    background-color: transparent;
}

.wrapper {
    text-align: center !important;
    overflow: hidden;
  }

.section {
  padding: 1.875em 0;
  position: relative;
  background-color: #FFFFFF;
}

.section .parallax, .section .full-image {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: block;
}

.section-header {
  padding: 0;
}
.section-header .container {
  z-index: 3;
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  top: 0;
}

.section-header .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  position: relative;
  color: white;
  text-align: center;
  text-shadow: $para-text-shadow;
  vertical-align: center;
  line-height: 1.7;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.content {
    margin-bottom: 450px;
}
.section-header h1 {
  letter-spacing: 0.1em;
  font-weight: 100;
  font-size: $hero-h1;
  font-family: $headline-font;
  color: $text-color;
  text-transform: uppercase;
  text-shadow: $h1-text-shadow;
}

.section-header-p {
  color: $text-color;
  font-family: $text-font;
  font-size: $hero-para-font-size;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin: 1em 0 0.5em;
  text-align: center;
  margin:40px;
  max-width:70%;

}

//two home headings
.content-header-1 {
    @include soft-shadow;
    padding: $def-padding;
    margin-bottom: 20px;
}
.content-header-1 h2 {
    font-family: $headline-font;
    font-size: $h2;
    text-align: center;
    text-transform: uppercase;
    line-height: 8rem;
    @include margin-padding($def-margin, $def-padding);
}
.content-header-2 h2 {
    font-family : $text-font;
    font-size: $h2;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    padding: $def-padding;
    margin: 20px;
}
//styling the cards on the home page
.card-home {
    @include card-shadow;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    @include margin-padding(60px, 20px);
}

.card-content {
    align-items: flex-start;
}

.card-image {
    width: 100%;
    height: 100%;
}
.card-content h3, p, button {
    padding: $def-padding;
}
.card-content h3 {
    font-size: $card-h3;
}

//footer
.page-footer {
    background-color: $footer-color;
    color: white;
    padding: 40px;
    margin-top:40px !important;
}

//about page
.content-flex-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.content-flex-container-2 {
    display: flex;
    // align-items: center;
    flex-direction: row;
    transform: translate(0px, -200px);
    @include margin-padding($def-margin, $def-padding);
}
.content-flex-container-3{
    display: flex;
    align-items: center;
    justify-content: center;
    // flex-wrap: wrap;
    // flex-direction: column;
}


.about-card {
    @include card-shadow;
    display: flex;
    align-items: flex-start;
    background-color: white;
    @include margin-padding($def-margin, $def-padding);

}
.about-card-content{
    @include margin-padding($def-margin, $def-padding);
}
.about-card-content p {
 font-size: $para-font-size;
}

//refactor into mixin
.about-img {
    width: 400px;
    height: 400px;
    z-index: -2;
    transform: translate(-300px, -200px);
}

.about-img-2 {
    width: 400px;
    height: 400px;
    z-index: -2;
    transform: translate(300px, -800px);
}
.about-img-3 {
    width: 400px;
    height: 400px;
    z-index: -2;
    // transform: translate(300px, -500px);
}

.about-header-2 h2 {
    font-family : $headline-font;
    font-size: $h2;
    text-align: center;
    padding: $def-padding;
    margin: 20px;
    transform: translate(0px, -300px);
}

//services page
.services-h1 {
    @include margin-padding(60px, 20px);
}
.services-h1 h1 {
    font-size: $h2;
    text-align: center;
}

.services-form {
    display: flex;
    align-items: flex-start;
    background-color: white;
    margin-top:50px;
}

//portfolio page
.body {
     background-color:#F1EFE9;
}

.port-card-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: white;
    // flex-wrap: wrap;
}
.port-card {
    // border: black 0.5px solid;
    @include margin-padding($def-margin, 0px);
    @include soft-shadow;
    background-color: white;
    
}
hr {
    color: #E8E8E8 !important;
    margin:0px !important;
}
.btn-circle {
    text-align: center;
    border-radius: 50%;
    background-color: $quote-button-color;
    padding: 20px;
    @include soft-shadow;
    border:none;
}
.btn-circle:hover {
    background-color: $quote-button-hover;
}
.port-card h3, p, button {
    @include margin-padding($def-margin, 5px);
}
.port-card img {
    // flex-basis: 100%;
    width:100%;
    // height:100%;
}

.btn-quote {
    background-color: $quote-button-color;
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
    padding: 10px 20px;
    margin: 5px;
    color: white;
    border: none;
    @include btn-shadow;
}

.center {
    margin-top:40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-quote:hover {
    background-color: $quote-button-hover;
}

//portfolio-detail
.full-image-container{
    width:100%;
    position: relative;
    // padding-top: 180px;
    // padding-bottom: 160px;
    overflow: hidden;
}
.full-image {
    width:100%;
    height:100%;
}

.overlay-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(0px,-300px);
}
.overlay-image {
    width:500px;
    height:500px;
}
.small-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(300px, -350px);
}
.small-image {
    width:150px;
    height:150px;
}

.trio-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(0px, -250px);
}

.trio-image-middle {
    transform: translate(0px, -80px);
    // // position: absolute;
    // z-index:-2;
}
.trio-image {
    width:400px;
    height:400px;
    // display: flex;
    // flex-basis:90%;
}

.padding {
    padding-bottom:50px;
    padding-top:50px;
}

.circle-img {
    border-radius: 50%;
    width:250px;
    height:250px;
}

.client-container {
    margin-top:100px;
}

//about_work page
.about-work-img {
    width:100%;
    height:200px;

}
.btn-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-circle-arrow{
    text-align: center;
    border-radius: 50%;
    background-color:$blue-purple;
    color: white;
    padding: 15px 20px;
    @include btn-shadow;
    border: none;
}

//contact form

.well {
    background-color: white;
    @include soft-shadow;
    padding:40px;
}


