h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, .navbar, .brand {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "Anton", Helvetica, sans-serif;
  font-size: 3rem;
  font-weight: 400;
  margin: 30px 0 15px;
}

p, button {
  font-family: "Raleway", Helvetica, sans-serif;
  font-size: 1.8rem;
}

.btn-primary {
  padding: 6px 12px;
  margin: 5px;
  color: white;
  background-color: #51418E;
  border: none;
  -webkit-box-shadow: 0px 1px 4px 0px #706c70;
  -moz-box-shadow: 0px 1px 4px 0px #706c70;
  box-shadow: 0px 1px 4px 0px #706c70;
}

.btn-primary:hover {
  background-color: #9013FE;
}

a:hover, a:focus {
  text-decoration: none;
}

.navbar {
  border: 0;
  font-size: 16px;
  padding: 0;
  margin: 0;
  position: absolute;
}

.navbar .navbar-brand {
  font-weight: 600;
  margin: 5px 0px;
  padding: 20px 15px;
  font-size: 1.8rem;
  font-family: "Raleway", Helvetica, sans-serif;
  color: black;
  letter-spacing: 0;
}

.navbar-default .navbar-nav > li > a {
  color: black;
}

nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
  color: #8176BD;
  background-color: transparent;
}

.navbar .navbar-nav > li > a {
  padding: 10px 15px;
  margin: 15px 3px;
}

.navbar-default {
  text-transform: uppercase;
  color: black;
  background-color: transparent;
}

.wrapper {
  text-align: center !important;
  overflow: hidden;
}

.section {
  padding: 1.875em 0;
  position: relative;
  background-color: #FFFFFF;
}

.section .parallax, .section .full-image {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: block;
}

.section-header {
  padding: 0;
}

.section-header .container {
  z-index: 3;
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  top: 0;
}

.section-header .content {
  position: relative;
  color: white;
  text-align: center;
  text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
  vertical-align: center;
  line-height: 1.7;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.section-header h1 {
  letter-spacing: 0.1em;
  font-weight: 100;
  font-size: 10rem;
  font-family: "Anton", Helvetica, sans-serif;
  color: black;
  text-transform: uppercase;
  text-shadow: -2px 2px 0px rgba(0, 0, 0, 0.3), -2px 4px 2px rgba(0, 0, 0, 0.1);
}

.section-header p {
  color: black;
  font-family: "Raleway", Helvetica, sans-serif;
  font-size: 2rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin: 1em 0 0.5em;
  text-align: center;
  margin: 40px;
}

.content-header-1 {
  -webkit-box-shadow: 0px 2px 6px 0px #706c70;
  -moz-box-shadow: 0px 2px 6px 0px #706c70;
  box-shadow: 0px 2px 6px 0px #706c70;
  padding: 10px;
  margin-bottom: 20px;
}

.content-header-1 h2 {
  font-family: "Anton", Helvetica, sans-serif;
  font-size: 6rem;
  text-align: center;
  text-transform: uppercase;
  line-height: 8rem;
  margin: 10px;
  padding: 10px;
}

.content-header-2 h2 {
  font-family: "Raleway", Helvetica, sans-serif;
  font-size: 6rem;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  padding: 10px;
  margin: 20px;
}

.card-home {
  -webkit-box-shadow: 0px 2px 6px 0px #706c70;
  -moz-box-shadow: 0px 2px 6px 0px #706c70;
  box-shadow: 0px 2px 6px 0px #706c70;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin: 60px;
  padding: 20px;
}

.card-content {
  align-items: flex-start;
}

.card-image {
  width: 100%;
  height: 100%;
}

.card-content h3, p, button {
  padding: 10px;
}

.card-content h3 {
  font-size: 5rem;
}

.page-footer {
  background-color: #4E409C;
  color: white;
  padding: 40px;
  margin-top: 40px !important;
}
